{{ define "header-text" -}} The Telegram Bot for Webcast Alerts {{- end }}
{{ define "footer-links" -}} Links {{- end }}
{{ define "footer-langs" -}} Languages {{- end }}
{{ define "supported-sites" -}} Supported Sites {{- end }}
